<ion-header>
  <ion-toolbar>
    <ion-title>Results</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearAll()">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="results.length; else empty">
    <ion-item *ngFor="let r of results">
  <ion-label>
    <h2>{{ r.categoryText }} • {{ r.difficulty | titlecase }}</h2>
    <p>{{ r.date | date:'short' }} — {{ r.correct }}/{{ r.total }} ({{ r.successPercent }}%)</p>
  </ion-label>

  <ion-button fill="clear" color="danger" slot="end" (click)="confirmDelete(r)">
    Delete
  </ion-button>
</ion-item>

  </ion-list>

  <ng-template #empty>
    <ion-note>No results yet.</ion-note>
  </ng-template>
</ion-content>
