:root {
  --ion-color-primary: #4f46e5;
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #443cc9;
  --ion-color-primary-tint: #6358e8;

  --ion-background-color: #f3f4f6;
  --ion-text-color: #0f172a;
}
